.table-cell .tab .split-pane .anchor-pane {
    -fx-background-color: transparent;
}
.table-view {
    -fx-border-width: 0px;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
}
.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: linear-gradient(to bottom, #009090, #008080);
}

.table-row:highlighted {
    -fx-text-fill: orange;
    -fx-background-color: yellow;
}

.highlighted {
    -fx-background-color: rgba(255, 90, 0, 0.5);
}

.hovered {
    -fx-background-color: rgba(255, 90, 0, 0.2);
}
