@import "./scrollable-table.css";

* {
   -main-color: orange;
   -second-main-color: white;
   -main-background-color: #111;
   -active-row-color: #333;
}

.split-pane {
    -fx-background-color: -main-background-color;
    -fx-border-width: 4px;
    -fx-border-color: -main-color;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.tracksTable {
 -fx-background-color: transparent;
}

.tab:selected {
    -fx-background-color: -main-color;
    -fx-border-color: -main-color;
    -fx-border-width: 0 0 1px 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected .tab-label {
    -fx-text-fill: -main-background-color;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -second-main-color;
}

.tab {
    -fx-alignment: CENTER;
    -fx-background-radius: 5px 5px 0 0;
    -fx-border-radius: 5px 5px 0 0;
    -fx-background-color: -main-background-color;
    -fx-border-color: -main-color;
    -fx-border-width: 1px;
    -fx-filltext: -main-color;
}

.tab:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-background-radius: 5px 5px 0 0;
    -fx-border-radius: 5px 5px 0 0;
    -fx-background-color: rgb(255,202,105);
}

.button {
 -fx-background-radius: 1px;
 -fx-background-color: -main-color;
 -fx-text-fill: black;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}

.split-pane:horizontal {
   -fx-background-color: transparent;
}

.choice-box .context-menu {
    -fx-background-color: -main-background-color;
    -fx-border-color: -main-color;
    -fx-border-radius: 15px 0 15px 0;
}

.choice-box .menu-item:focused {
    -fx-background-color: -main-color;
}

.choice-box .menu-item > .label {
    -fx-text-fill: -second-main-color;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.choice-box {
    -fx-background-color: -main-background-color;
    -fx-border-color: -second-main-color;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.table-cell .tab .split-pane .anchor-pane {
    -fx-background-color: transparent;
}

.choice-box .label {
    -fx-text-fill: -second-main-color;
}

.choice-box .arrow{
-fx-background-color: -second-main-color;
}

.tab-pane>*.tab-header-area>*.tab-header-background {
  -fx-background-color: transparent;
  -fx-background-insets:0;
}

.grid-pane {
    -fx-border-width: 3px;
    -fx-border-color: -main-color;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
.table-row-cell {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: -second-main-color;
}
.table-row-cell .table-cell {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: -main-background-color;
    -fx-padding: 1 1 1 1;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: -main-color;
}

.range-bar {
    -fx-background-color: #baa;
}

.editable-column:readonly {
    -fx-opacity: 1.0;
    -fx-pref-height: 30px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-border-style: solid hidden solid hidden;
    -fx-background-color: inherit;
}

.editable-column:hover {
    -fx-pref-height: 30px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
}

.editable-column:readonly, .time-column {
    -fx-text-fill: -second-main-color;
}

.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color:-main-color;
}

.main-anchor-pane {
    -fx-background-color: -main-background-color;
}

.tracks-grid-scroll-pane {
    -fx-border-style: solid;
    -fx-background-color: -main-background-color;
    -fx-border-color: -main-color;
    -fx-border-width: 3px;
    -fx-background-radius: 0 0 5px 5px;
    -fx-border-radius: 0 0 5px 5px;
    -fx-background-insets: 3;
}

.button {
    -fx-background-radius: 3px;
}
.button:hover {
    -fx-cursor: hand;
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-background-color: rgb(255,202,105);
}

.grid-row {
    -fx-background-color: -main-background-color;
    -fx-text-fill: -main-color;
}

.grid-row:hover {
    -fx-background-color: -active-row-color;
}

.check-box .box {
    -fx-background-color: -second-main-color;
    -fx-border-color:-main-color;
    -fx-border-radius: 1px;
    -fx-max-height: 10px;
    -fx-min-width: 10px;
}

.check-box:selected .mark {
    -fx-background-color: -main-background-color;
    -fx-text-fill: -main-color;
}

.check-box {
    -fx-text-color: -main-color;
    -fx-text-fill: -main-color;
}

.tracks-grid-placeholder {
    -fx-background-color: -main-background-color;
    -fx-text-fill: -second-main-color;
}

.tracks-grid {
    -fx-background-color: -main-background-color;
}