* {
   -main-color: orange;
   -second-main-color: white;
   -main-background-color: #1b1b1b;
   -active-row-color: #333;
   -danger-color: rgb(208,32,34);
   -info-color: rgb(3,158,211);
}

.audio-tracks-row .artist-label.active {
    -fx-text-fill: black;
    -fx-background-color: -main-color;
}

.audio-tracks-row .song-title-label.active {
    -fx-text-fill: black;
    -fx-background-color: -main-color;
}

.audio-tracks-row.active {
    -fx-background-color: -main-color;
}

.next-track-icon.active {
    visibility: hidden
}

.audio-tracks-row .next-track-icon {
 -fx-background-color: transparent;
}

.audio-tracks-row:hover {
    -fx-background-color: -active-row-color;
    -fx-cursor: hand;
    -fx-scale-y: 1.08;
}

.root {
    -fx-background-color: -main-background-color;
}

.playerButton {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-margin-right: 2px;
    -fx-background-color: #eee;
    -fx-cursor: hand;
}
.playerButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.exitPlayMode {
    -fx-border-color: transparent;
    -fx-background-color: -danger-color;
    -fx-cursor: hand;
}

.exitPlayMode:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.workbench {
    -fx-background-color: -main-background-color;
}

.audio-tracks-header-row {
 -fx-background-color: -second-main-color;
 -fx-font-weight: bold;
}

.audio-tracks-row .artist-label {
  -fx-text-fill: -second-main-color;
}
.audio-tracks-row .song-title-label {
  -fx-text-fill: -second-main-color;
}

.scroll-pane > .viewport {
   -fx-background-color: -main-background-color;
}

.tracks-grid {
  -fx-background-color: -main-background-color;
}

.blank-preview {
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-border-color: -main-color;
  -fx-border-style: dashed;
}

.switchRound {
    -fx-background-color: -main-color;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-pref-width: 100.0;
}

.switchRound:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.switchRound.previous {
  -fx-background-radius: 20px 2px 2px 20px;
}

.switchRound.next {
  -fx-background-radius: 2px 20px 20px 2px;
}

.blank-miniature {
    -fx-background-color: -second-main-color;
    -fx-border-color: -second-main-color;
    -fx-border-style: solid;
    -fx-text-fill: -main-background-color;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-max-height: 30.0;
    -fx-border-radius: 10px;
}

.blank-miniature:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.harden-condition {
  -fx-background-radius: 15px;
  -fx-background-color: -danger-color;
  -fx-text-fill: -second-main-color;

  -fx-pref-width: 540px;
  -fx-pref-height: 45px;
}

.harden-condition:hover {
  -fx-cursor: hand;
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}

.vbox-containing-scroll-pane {
    -fx-background-radius: 5px 5px 0 0;
    -fx-border-color: orange;
    -fx-border-radius: 10px;
}

.tracks-grid-scroll-pane {
    -fx-background-color: transparent;
}