* {
   -main-color: orange;
   -main-color-light: rgb(255, 175, 10);
   -middle-color: rgba(244,233,162,1);
   -middle-color-light: rgba(227,206,86,1);
   -second-main-color: white;
   -main-background-color: #1b1b1b;
   -active-row-color: #333;
   -danger-color: rgba(236,122,172,1);
   -danger-color-light: rgba(228,53,102,1);
   -info-color: rgba(10,209,220,1);
   -info-color-light: rgba(3,158,211,1);
}

.table-cell .tab .split-pane .anchor-pane {
    -fx-background-color: transparent;
}

.table-row:highlighted {
    -fx-text-fill: -main-color;
    -fx-background-color: yellow;
}

.highlighted {
    -fx-background-color: rgba(255, 90, 0, 0.5);
}

.hovered {
    -fx-background-color: rgba(255, 90, 0, 0.2);
}

.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

.container {
 -fx-background-color: -main-background-color;
}

.game-grid-item {
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-border-width: 2px;
    -fx-border-style: dashed;
    -fx-border-color: -main-color;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: -main-color;
    -fx-text-fill: white;
}

.warning {
    -fx-font-style: italic;
    -fx-prompt-text-fill: -danger-color;
}

.template-game-image:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.generate-blanks {
    -fx-background-radius: 0 15px 0 0;
    -fx-background-color: linear-gradient(-danger-color 0%, -danger-color-light 61%);
    -fx-cursor: hand;
}

.generate-blanks:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.view-blanks {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: linear-gradient(-middle-color 0%, -middle-color-light 61%);
    -fx-cursor: hand;
}

.view-blanks:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.game-options {
   -fx-background-radius: 0 0 15px 0;
   -fx-background-color: linear-gradient(-info-color 0%, -info-color-light 91%);
   -fx-cursor: hand;
}

.game-options:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.game-button {
    -fx-background-color: rgba(0, 0, 0, 0);
}


.game-button:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.context-menu {
  -fx-background-color: -main-background-color;
  -fx-border-color: -main-color;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-font-size: 14px;
  -fx-text-fill: white;
}

.menu-item .label {
  -fx-text-fill: white;
}

.menu-item {
  -fx-background-color: -main-background-color;
}

.menu-item:focused {
  -fx-cursor: hand;
  -fx-background-color: -main-color;
}

.menu-item:focused .label {
  -fx-text-fill: black;
}
