.table-cell .tab .split-pane .anchor-pane {
    -fx-background-color: transparent;
}

.table-row:highlighted {
    -fx-text-fill: orange;
    -fx-background-color: yellow;
}

.highlighted {
    -fx-background-color: rgba(255, 90, 0, 0.5);
}

.hovered {
    -fx-background-color: rgba(255, 90, 0, 0.2);
}

.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #ff5A00;
    -fx-text-fill: white;
}

.warning {
    -fx-font-style: italic;
    -fx-prompt-text-fill: #ff0000;
}

.slider .thumb {
    -fx-background-image :url("playModeIcons/slider.png");
}

.blankNumber {
   -fx-background-color: #bbb;
   -fx-border-radius: 5px;
   -fx-background-radius: 10px;
}

.gridPane {
    -fx-border-radius: 10;
    -fx-border-color: #444;
    -fx-background-color: #bbb;
    -fx-background-radius: 10;
}

.blank-item {
    -fx-border-style: hidden hidden solid solid;
    -fx-border-color: #444;
}

.blank-item.left {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #444;
}

.blank-item.lower {
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-color: #444;
}

.blank-item.left.lower {
    -fx-border-style: hidden;
    -fx-border-color: #444;
}

.save-all-to-png:hover {
    -fx-background-color: linear-gradient(rgba(255,218,136,1) 0%, rgba(195,159,104,1) 93%);
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-cursor: hand;
}

.save-all-to-png {
    -fx-background-color: linear-gradient(rgba(252,208,126,1) 0%, rgba(185,149,94,1) 93%);
    -fx-background-radius: 1px;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
}

.template-game-image:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.generate-blanks {
    -fx-background-radius: 0 15px 0 0;
    -fx-background-color: linear-gradient(rgba(236,122,172,1) 0%, rgba(228,53,102,1) 61%);
    -fx-cursor: hand;
}

.generate-blanks:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-background-color: linear-gradient(rgba(246,132,182,1) 0%, rgba(238,63,112,1) 61%);
}

.view-blanks {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: linear-gradient(rgba(244,233,162,1) 0%, rgba(227,206,86,1) 61%);
    -fx-cursor: hand;
}

.view-blanks:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-background-color: linear-gradient(rgba(254,243,172,1) 0%, rgba(237,216,96,1) 61%);
}

.game-options {
   -fx-background-radius: 0 0 15px 0;
   -fx-background-color: linear-gradient(rgba(26,221,35,1) 0%, rgba(19,170,26,1) 91%);
   -fx-cursor: hand;
}

.game-options:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-background-color: linear-gradient(rgba(36,231,45,1) 0%, rgba(29,180,36,1) 91%);
}
/*
.progress-bar > .track {
  -fx-background-color: linear-gradient(to right, #eee 30%, #aaa 30%, #999 50%, #aaa 70%, #eee 70%, #aaa 70%, #eee 70%)
}*/
